<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypal_connect>
                <is_active>0</is_active>
                <show_branding>0</show_branding>
                <debug_mode>0</debug_mode>
            </paypal_connect>
        </payment>
    </default>
</config>
