<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <fastlane>
                <is_active>0</is_active>
                <privacy>0</privacy>
                <show_cardholder_name>0</show_cardholder_name>
                <insights_enabled>1</insights_enabled>
                <client_id></client_id>
            </fastlane>
        </payment>
    </default>
</config>
