@import './_variables.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #paypal-fastlane-powered-by paypal-watermark {
        display: block;
        margin: @indent__xs 0;
        width: @paypal-fastlane-watermark-width;
    }
}
