//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fastlane-section {
        .comment {
            background: ~"url('@{baseDir}PayPal_Fastlane/images/fastlane-by-paypal-logo.svg') no-repeat 0 0 / 18rem auto";
            min-height: 2em;
            padding-left: 20rem;
        }
    }

    .fastlane-styling-section {
        .comment {
            background: none;
            padding-left: initial;
        }
    }
}
